.card-title {
  background-color: #2cd889;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.cardtop-left {
  display: flex;
  align-items: center;
}
.cardtop-leftImg {
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #aacaf3;
}
.card-top {
  display: flex;
  width: 100%;
}
.cardtop-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-dateTime {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.card-bottom {
  width: 80%;
}
.card-body {
  padding: 15px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-top button {
  margin-top: 15px;
  color: black;
  background-color: rgb(232, 241, 255) !important;
}
