.footer {
  font-size: 12px;
  color: #4ca07a;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  align-items: center;
  padding: 0 10px;
}
.footer__right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
