/* body {
  background-color: white;
} */
.sign {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: white;
}

.form-container {
  margin: auto;
  width: 80%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container h2 {
  /* margin-bottom: 10px; */
}
.MuiInput-formControl {
  width: 400px;
  margin-bottom: 20px;
}
.description {
  color: rgb(128, 124, 124);
  margin-bottom: 40px;
}

.MuiTextField-root {
  width: 400px;
  margin-bottom: 25px !important;
}
.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gradient img {
  width: 300px;
}
